#alert {
    display: none;/* O alerta deve iniciar oculto */
    min-width: 400px;
    height: auto;
/*    border-radius:10px;*/
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:12px;
    font-weight: bold;
    overflow: hidden;
    /*position: fixed;*/
    position: absolute;
    left: 50%;
    margin-left: -160px;
    z-index: 999999;
    padding: 9px;
    color: #fff;
    cursor: pointer;
    top: 0;
    text-align: center;
    margin-top: 5px;
}

.alert-error {
    background:#FF5252;
    border:1px solid #f5aca6;

}

.alert-success {
    background: #0f9d58;
    border:1px solid #2ecc71;
}