#loadImg{
    position: fixed;
    right: 5px;
    bottom: 10px;
    height: 15px;
    width: 128px;
    background: rgba(255,255,255,0.2);
    z-index: 9999;
    background-image: url(../images/ajax-loader_2.gif);
    display: none;
}