body {
    padding-top: 50px; /* Padding for .navbar-fixed-top. Change value if navbar height changes. Remove if using .navbar-static-top. */
}

h1, h2, h3, h4, h5, h6,
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link {
    color: black;
}

.feature {
    background: yellowgreen linear-gradient(to bottom, greenyellow, olivedrab);
    color: black;
}

#feature-carousel {
    min-height: 200px;
}

#feature-carousel img {
    margin: 0 auto;
}

.footer-blurb {
    padding: 30px 0;
    margin-top: 20px;
    background-color: #eee;
    color: black;
}

.footer-blurb-item {
    padding: 20px;
}

.small-print {
    background-color: #fff;
    padding: 30px 0;
}

.feature,
.page-intro,
.article-intro,
.small-print {
    text-align: center;
}

form.search {
    margin-bottom: 20px;
}

label.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding:1px 20px 1px 20px;
}

#alert {
    display: none;/* O alerta deve iniciar oculto */
    width: 300px;
    height: auto;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:12px;
    font-weight: bold;
    overflow: hidden;
    /*position: fixed;*/
    position: absolute;
    left: 50%;
    margin-left: -160px;
    z-index: 999999;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    top: 0;
    text-align: center;
}

.alert-error {
    background:#FF5252 url('../images/error.png') no-repeat 10px 50%;
    border:1px solid #f5aca6;

}

.alert-success {
    background: #0f9d58 url('../images/success.png') no-repeat 10px 50%;
    border:1px solid #2ecc71;
}


.card {

    position: relative;
    overflow: hidden;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-sizing: inherit;
    display: block;
    font-size: 15px;
    max-width: 500px;
}
.card, .card-title {
    margin-bottom: .75rem;
}
.card-header:first-child {
    border-radius: .1875rem .1875rem 0 0;
}

.card-header {
    border-bottom: .0625rem solid #e5e5e5;
}

.card-footer, .card-header {
    padding: .75rem 1.25rem;
    background-color: #f5f5f5;
}
.card-block {
    padding: 1.25rem;
}
.card-footer:last-child {
    border-radius: 0 0 .1875rem .1875rem;
}
.text-muted {
    color: #818a91;
}
.card-footer {
    border-top: .0625rem solid #e5e5e5;
}
.card-footer, .card-header {
    padding: .75rem 1.25rem;
    background-color: #f5f5f5;
}
