<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="index_admin.php"><i class="fa fa-fw fa-dashboard"></i> Administração </a>
        </li>
        <li>
            <a href="usuario.php"><i class="fa fa-fw fa-bar-chart-o"></i> Usuários<i class="fa fa-fw fa-caret-down"></i></a>
        </li>
        <li>
            <a href="usuario.php"><i class="fa fa-fw fa-bar-chart-o"></i> Usuários<i class="fa fa-fw fa-caret-down"></i></a>
        </li>
        <li>
            <a href="usuario.php"><i class="fa fa-fw fa-bar-chart-o"></i> Usuários<i class="fa fa-fw fa-caret-down"></i></a>
        </li>
        <li>
            <a href="usuario.php"><i class="fa fa-fw fa-bar-chart-o"></i> Usuários<i class="fa fa-fw fa-caret-down"></i></a>
        </li>
    </ul>
</div>