{include file="./Template/Header.html"}
<link href="./css/Card.css" rel="stylesheet" type="text/css"/>


{foreach from=$lista item=row}
<div class="col-md-4 col-sm-6 wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">
    <div class="card">
        <div class="card-header">
            <img src="portal/assets/images/portfolio/portfolio2-thumb.jpg"/>
        </div>
        <div class="card-content">
            <h3>{$row.DSC_Nome}</h3>
            <h4>{$row.DT_Inicio}</h4>
            <p>{$row.DSC_Endereco}, {$row.DSC_Cidade} - {$row.DSC_Bairro}</p>
        </div>
        <div class="card-footer">
            <a href='Boleto.php?ID_EVT_Evento_Pariticipante={$row.ID_EVT_Evento_Pariticipante}'>Boleto</a>
        </div>
    </div>
</div>
{foreachelse}
Sem evento disponível
{/foreach}


{include file="./Template/footer.html"}
