{include file="./Template/Header.html"}
<link href="./css/Card.css" rel="stylesheet" type="text/css"/>

{foreach from=$lista item=row}
<div class="col-md-4 col-sm-6 wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">
    <div class="card text-center">
        <div class="card-header">
            {if {$row.Logo_Evento} != ""} 
            <img src="{$row.Logo_Evento}"/>
            {else}
            <img src="portal/assets/images/portfolio/Eventos.jpg"/>
            {/if}
        </div>
        <div class="card-content text-center">
            <h3>{$row.DSC_Nome}</h3><br>
            <h5>Nº Incrição: {$row.Num_Inscricao}</h5>
            <h4>{$row.DT_Inicio}</h4>
            <h6>{$row.DSC_Endereco}, {$row.DSC_Cidade} - {$row.DSC_Bairro}</h6>
        </div>
        {if $row.COD_Tipo_Situacao_Pagamento eq 0}
        <div class="card-text text-center ">
            <h3 class="bg-info">Inscrição não Confirmado</h3>
            <a href='Boleto.php?ID_EVT_Evento_Pariticipante={$row.ID_EVT_Evento_Pariticipante}' target="_blank">
            <button type="button" class="btn btn-primary">Boleto</button>
            </a>
        </div><br>
        {elseif $row.COD_Tipo_Situacao_Pagamento eq 1}
        <div class="card-text text-center">
            <h3 class="bg-info">Inscrição Confirmada</h3>
        </div><br>
        {else $row.COD_Tipo_Situacao_Pagamento eq 2}
        <div class="card-text text-center">
            <h3 class="bg-info">Inscrição Confirmada</h3>
        </div><br>
        {/if}
    </div>
</div>
{foreachelse}
Sem evento disponível
{/foreach}


{include file="./Template/footer.html"}
