{include file="./Template/HeaderAdmin.html"}
<form id="Cadastrar" form method="post">
    <input type="hidden" class="form-control" name="ID" id="ID">
    <div class="form-group">
        <label for="exampleInputEmail1">Nome</label>
        <input type="text" class="form-control"  name="Dsc_Banco" id="Dsc_Banco" placeholder="Nome do Banco">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Agência</label>
        <input type="text" class="form-control"  name="Agencia" id="Agencia" placeholder="Agencia">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Conta</label>
        <input type="text" class="form-control" name="Conta" id="Conta" placeholder="Nro da Conta">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Código Banco</label>
        <input type="text" class="form-control" name="Cod_Banco" id="Cod_Banco" placeholder="Código do Banco">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Convênio</label>
        <input type="text" class="form-control" name="Convenio" id="Convenio" placeholder="Convênio">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Contrato</label>
        <input type="text" class="form-control" name="Contrato" id="Contrato" placeholder="Nro do Contrato">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Carteira</label>
        <input type="text" class="form-control" name="Carteira" id="Carteira" placeholder="Carteira">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Variação da Carteira</label>
        <input type="text" class="form-control" name="Variacao_Carteira" id="Variacao_Carteira" placeholder="Variação da Carteira">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Variação da Carteira</label>
        <input type="text" class="form-control" name="Variacao_Carteira" id="Variacao_Carteira" placeholder="Variação da Carteira">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Número Documento</label>
        <input type="text" class="form-control" name="numero_documento" id="numero_documento" placeholder="Número do Documento (Sequência Atual)">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Código CNPJ da Promotora</label>
        <input type="text" class="form-control" name="COD_CNPJ_Promotora" id="COD_CNPJ_Promotora" placeholder="COD_CNPJ_Promotora)">
    </div>
    <button type="submit" class="btn" name="Salvar" value="Salvar">Salvar</button>
    <a href="BancoList.php" class="btn btn-default">Cancelar</a>
</form>
{include file="./Template/footer.html"}