{include file="./Template/Header.html"}
<script src="./js/jquery.validate.min.js" type="text/javascript"></script>
<form id="Cadastrar" form method="post" action="">
    <input type="hidden" class="form-control" name="ID" id="ID" value="{$ID}">
    <div class="form-group">
        <label for="exampleInputEmail1">Nome</label>
        <input type="text" class="form-control"  name="Dsc_Banco" id="Dsc_Banco" value="{$Dsc_Banco}" placeholder="Nome do Banco">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Agência</label>
        <input type="text" class="form-control"  name="Agencia" id="Agencia" value="{$Agencia}" placeholder="Agencia">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Conta</label>
        <input type="text" class="form-control" name="Conta" id="Conta" value="{$Conta}" placeholder="Nro da Conta">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Código Banco</label>
        <input type="text" class="form-control" name="Cod_Banco" id="Cod_Banco" value="{$Cod_Banco}" placeholder="Código do Banco">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Convênio</label>
        <input type="text" class="form-control" name="Convenio" id="Convenio" value="{$Convenio}" placeholder="Convênio">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Contrato</label>
        <input type="text" class="form-control" name="Contrato" id="Contrato" value="{$Contrato}" placeholder="Nro do Contrato">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Carteira</label>
        <input type="text" class="form-control" name="Carteira" id="Carteira" value="{$Carteira}" placeholder="Carteira">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Variação da Carteira</label>
        <input type="text" class="form-control" name="Variacao_Carteira" id="Variacao_Carteira" value="{$Variacao_Carteira}" placeholder="Variação da Carteira">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Número Documento</label>
        <input type="text" class="form-control" name="numero_documento" id="numero_documento" value="{$numero_documento}" placeholder="Número do Documento (Sequência Atual)">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Código CNPJ da Promotora</label>
        <input type="text" class="form-control" name="COD_CNPJ_Promotora" id="COD_CNPJ_Promotora" value="{$COD_CNPJ_Promotora}" placeholder="COD_CNPJ_Promotora)">
    </div>
    <button type="submit" class="btn" name="Salvar" value="Salvar">Salvar</button>
    <a href="BancoList.php" class="btn btn-default">Cancelar</a>
</form>
{include file="./Template/footer.html"}