{include file="./Template/header.html"}
<form id="Cadastrar" form method="post" action="">
    <div class="form-group">
        <label for="exampleInputEmail1">Login</label>
        <input type="text" class="form-control" name="login" placeholder="Login">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Senha</label>
        <input type="password" class="form-control" name="senha" placeholder="Senha">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Data Inicial</label>
        <input type="date" class="form-control" name="dataini" placeholder="Data Inicial">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Data Final</label>
        <input type="date" class="form-control" name="datafin" placeholder="Data Final">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Grupo</label>
        <select name="Grupo">
            <option value=1>muito bom</option>
            <option value=2>bom</option>
            <option value=3>razoavel</option>
            <option value=4>mau</option>
        </select>
    </div>


    <button type="submit" class="btn btn-default" name="Cadastrar" value="Cadastrar">Submit</button>
</form>
{include file="./Template/footer.html"}
