{include file="./Template/HeaderAdmin.html"}
<div style="padding-bottom: 10px;">
    <a class="btn btn-primary" href="EmailInsert.php" role="button">Novo</a>    
</div>
<div>
    <table id="myTable" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Servidor SMTP</th>
            <th>Usuário</th>
            <th>Senha</th>
            <th>Remetente Padrão</th>
            <th>Assunto Padrão</th>
            <th>Mensagem Padrão</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody id="myTabContent">
        {foreach from=$lista item=row}
        <tr >
            <td>{$row.smtp}</td>
            <td>{$row.userName}</td>
            <td>{$row.Password}</td>
            <td>{$row.remetente}</td>
            <td>{$row.assunto}</td>
            <td>{$row.mensagem}</td>
            <td>
                <a href="EmailEdit.php?alt={$row.ID_Email}" class="col-md-offset-1" title="Editar"><span class="glyphicon glyphicon-pencil" aria-hidden="true" style="font-size: 30px;"></span></a>
                <a href="?del={$row.ID_Email}" title="Excluir"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true" style="font-size: 30px;"></span></a>
            </td>            
        </tr>
        {/foreach}
    </tbody>
</table>
</div>

{include file="./Template/footer.html"}