{include file="./Template/header.html"}

<div>
    <a href="EmpresaInsert.php"><button class="btn">Novo</button></a>
    <table id="myTable" border="1" cellpadding="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Razão Social</th>
            <th>Descrição</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody id="myTabContent">
        {foreach from=$lista item=row}
        <tr >
            <td>{$row.ID_Empresa}</td>
            <td>{$row.DSC_RazaoSocial}</td>
            <td>{$row.DSC_Endereco}</td>
            <td>{$row.NUM_Fone}</td>
            <td>{$row.DSC_EMAIL}</td>
            <td>
                <a href="EmpresaEdit.php?alt={$row.ID_Empresa}" onclick="win('EmpresaEdit.php?alt={$row.ID_Empresa}',300,300)"><button class="btn">Alterar</button></a> 
                <a href="?del={$row.ID_Empresa}"><button class="btn">Excluir</button></a>
            </td>
        </tr>
        {/foreach}
    </tbody>
</table>
</div>

{include file="./Template/footer.html"}