{include file="./Template/HeaderAdmin.html"}
<script src="./js/jquery.validate.min.js" type="text/javascript"></script>
<script src="./js/EventoInsert.js" type="text/javascript"></script>

<form id="Cadastrar" form method="post">
    <div class="form-group">
        <label>Evento</label>
        <input type="text" class="form-control" name="DSC_Nome" id="DSC_Nome" placeholder="Nome">
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label>Data Inicial</label>
            <input type="date" class="form-control" name="DT_Inicio" id="DT_Inicio" placeholder="Data Inicio">
        </div>
        <div class="form-group col-md-3">
            <label >Data Final</label>
            <input type="date" class="form-control" name="DT_Fim" id="DT_Fim" placeholder="Data Fim">
        </div>
    </div>
    <div class="form-group">
        <label >Presidente</label>
        <input type="text" class="form-control"  name="DSC_Presidente" id="DSC_Presidente" placeholder="Presidente">
    </div>
    <div class="form-group">
        <label >CNPJ Promotora</label>
        <input type="text" class="form-control" name="COD_CNPJ_Promotora" id="COD_CNPJ_Promotora" placeholder="CNPJ Promotora">
    </div>

    <div class="form-group">
        <label >Nome Promotora</label>
        <input type="text" class="form-control" name="DSC_Nome_Promotora" id="DSC_Nome_Promotora" placeholder="Nome Promotora">
    </div>
    <div class="form-group">
        <label >Presidente Promotora</label>
        <input type="text" class="form-control" name="DSC_Presidente_Promotora" id="DSC_Presidente_Promotora" placeholder="Presidente Promotora">
    </div>
    <div class="form-group">
        <label >Endereco</label>
        <input type="text" class="form-control" name="DSC_Endereco_Promotora" id="DSC_Endereco_Promotora" placeholder="Endereco Promotora">
    </div>
    <div class="form-group">
        <label >Nº CEP</label>
        <input type="text" class="form-control" name="NUM_CEP_Promotora" id="NUM_CEP_Promotora" placeholder="Nº CEP Promotora">
    </div>
    <div class="form-group">
        <label >Cidade</label>
        <input type="text" class="form-control" name="DSC_Cidade_Promotora" id="DSC_Cidade_Promotora" placeholder="Cidade Promotora">
    </div>
    <div class="form-group">
        <label >Nª Telefone</label>
        <input type="text" class="form-control" name="NUM_Fone_Promotora" id="NUM_Fone_Promotora" placeholder="Nº Fone Promotora">
    </div>
    <div class="form-group">
        <label >Nª Fax</label>
        <input type="text" class="form-control" name="NUM_FAX_Promotora" id="NUM_FAX_Promotora" placeholder="Nº Fax Promotora">
    </div>
    <div class="form-group">
        <label >Email</label>
        <input type="text" class="form-control" name="DSC_EMAIL_Promotora" id="NUM_FAX_Promotora" placeholder="Email Promotora">
    </div>
    <div class="form-group">
        <label >Carga Horária Mínima</label>
        <input type="text" class="form-control" name="QTD_CargaHorariaMinima" id="QTD_CargaHorariaMinima" placeholder="Carga Horária Mínima">
    </div>
    <div class="form-group">
        <label>Local Evento</label>
        <select name="ID_BSC_Local_Evento" id="ID_BSC_Local_Evento"  class="form-control" style="width: 400px;">
            <option value="0">-</option>
            {foreach from=$listLocal item=row}
            <option value="{$row.ID_Local}">{$row.DSC_Nome}</option>
            {/foreach}
        </select>
    </div>
    <div class="form-group">
        <label>Tipo Estado Promotora</label>
        <select name="COD_Tipo_Estado_promotora" id="COD_Tipo_Estado_promotora"  class="form-control" style="width: 400px;">
            <option value="0">-</option>
            {foreach from=$listTpUF item=row}
            <option value="{$row.COD_TIPOEstado}">{$row.DSC_Nome}</option>
            {/foreach}
        </select>
    </div>
    <button type="submit" class="btn btn-primary" name="Cadastrar" value="Cadastrar">Cadastrar</button>    
    <a href="EventoList.php" class="btn btn-default">Cancelar</a>
</form>

{include file="./Template/footer.html"}