{include file="./Template/HeaderAdmin.html"}

<div style="padding-bottom: 10px;">
    <a class="btn btn-primary" href="EventoInsert.php" role="button">Novo</a>    
</div>
<div>
    <table id="myTable" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="text-center">Código</th>
                <th>Nome</th>
                <th>Cidade</th>
                <th>Telefone</th>
                <th class="text-right">Ações</th>
            </tr>
        </thead>

        <script type="text/javascript">
            function redirecionar(ID_EVT) {
                if (confirm("Deseja exportar evento?")) {
                    window.location = "EventoXML.php?eventoid="+ID_EVT;
                    alert("O arquivo esta no diretório <Arquivos_XML>")
                }
            }
        </script>

        <tbody id="myTabContent">
            {foreach from=$lista item=row}
            <tr >
                <td class="text-center">{$row.Cod_Evento}</td>
                <td>{$row.DSC_Nome}</td>
                <td>{$row.DSC_Cidade_Promotora}</td>
                <td>{$row.NUM_Fone_Promotora}</td>
                <td class="text-right">
                    <a href="EventoEdit.php?ID_EVT={$row.ID_EVT}" class="col-md-offset-1" title="Editar"><span class="btn btn-default glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    <a href="?del={$row.ID_EVT}" title="Excluir"><span class="btn btn-default glyphicon glyphicon-trash" aria-hidden="true"></span></a>

                    <a href="javascript:func()" onclick="redirecionar('{$row.ID_EVT}');"  title="Exportar XML"><span class="btn btn-default glyphicon glyphicon-export" aria-hidden="true"></span></a>
                    <a href='#mywork' title="Acompanhar Inscrições" onclick="OnclickAcompanhamento('{$row.ID_EVT}', '{$row.DSC_Nome}');"><span class="btn btn-default glyphicon glyphicon-credit-card" aria-hidden="true"></span></a>
                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>
</div>


<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" id="corpoPopUp">
                <table  class="table table-hover" id="TbConteudo">
                    <thead>
                        <tr>
                            <th>Candidato</th>
                            <th>Nro Inscrição</th>
                            <th>Valor da Inscrição</th>
                            <th>Situação</th>
                        </tr>
                    </thead>
                    <tbody id="conteudoParticEvento">

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script src="./js/portal_Adm.js" type="text/javascript"></script>
<script type="text/javascript">
                        $(document).ready(function () {
                            showAlert('{$type}', '{$msg}');
                        });
                        $("#TbConteudo").dataTable({
                            "bJQueryUI": true,
                            "searching": false,
                            "oLanguage": {
                                "sProcessing": "Processando...",
                                "sLengthMenu": "Mostrar _MENU_ registros",
                                "sZeroRecords": "Não foram encontrados resultados",
                                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                                "sInfoEmpty": "Mostrando de 0 até 0 de 0 registros",
                                "sInfoFiltered": "",
                                "sInfoPostFix": "",
                                "sUrl": "",
                                "oPaginate": {
                                    "sFirst": "Primeiro ",
                                    "sPrevious": "Anterior | ",
                                    "sNext": " | Seguinte",
                                    "sLast": " Último"
                                }
                            }
                        });

</script>

{include file="./Template/footer.html"}