{include file="./Template/HeaderAdmin.html"}

<form id="Cadastrar" form method="post">
    <div class="form-group">
        <label>Evento</label>
        <input type="text" class="form-control" name="DSC_Nome" placeholder="Nome">
    </div>
    <div class="form-group">
        <label >Presidente</label>
        <input type="text" class="form-control"  name="DSC_Presidente" placeholder="Presidente">
    </div>
    <div class="form-group">
        <label >CNPJ Promotora</label>
        <input type="text" class="form-control" name="COD_CNPJ_Promotora" placeholder="CNPJ Promotora">
    </div>
    <div class="form-group">
        <label>Data Inicial</label>
        <input type="date" class="form-control" name="DT_Inicio" placeholder="Data Inicio">
    </div>
    <div class="form-group">
        <label >Data Final</label>
        <input type="date" class="form-control" name="DT_Fim" placeholder="Data Fim">
    </div>

    <div class="form-group">
        <label >Nome Promotora</label>
        <input type="text" class="form-control" name="DSC_Nome_Promotora" placeholder="Nome Promotora">
    </div>
    <div class="form-group">
        <label >Presidente Promotora</label>
        <input type="text" class="form-control" name="DSC_Presidente_Promotora" placeholder="Presidente Promotora">
    </div>
    <div class="form-group">
        <label >Endereco</label>
        <input type="text" class="form-control" name="DSC_Endereco_Promotora" placeholder="Endereco Promotora">
    </div>
    <div class="form-group">
        <label >Nº CEP</label>
        <input type="text" class="form-control" name="NUM_CEP_Promotora" placeholder="Nº CEP Promotora">
    </div>
    <div class="form-group">
        <label >Cidade</label>
        <input type="text" class="form-control" name="DSC_Cidade_Promotora" placeholder="Cidade Promotora">
    </div>
    <div class="form-group">
        <label >Nª Telefone</label>
        <input type="text" class="form-control" name="NUM_Fone_Promotora" placeholder="Nº Fone Promotora">
    </div>
    <div class="form-group">
        <label >Nª Fax</label>
        <input type="text" class="form-control" name="NUM_FAX_Promotora" placeholder="Nº Fax Promotora">
    </div>
    <div class="form-group">
        <label >Email</label>
        <input type="text" class="form-control" name="DSC_EMAIL_Promotora" placeholder="Email Promotora">
    </div>
    <div class="form-group">
        <label >Carga Horária Mínima</label>
        <input type="text" class="form-control" name="QTD_CargaHorariaMinima" placeholder="Carga Horária Mínima">
    </div>
    <div class="form-group">
        <label>Local Evento</label>
        <select name="ID_BSC_Local_Evento">
            {foreach from=$listLocal item=row}
            <option value="{$row.ID_Local}">{$row.DSC_Nome}</option>
            {/foreach}
        </select>
    </div>
    <div class="form-group">
        <label>Tipo Estado Promotora</label>
        <select name="COD_Tipo_Estado_promotora">
            {foreach from=$listTpUF item=row}
            <option value="{$row.COD_TIPOEstado}">{$row.DSC_Nome}</option>
            {/foreach}
        </select>
    </div>
    <button type="submit" class="btn" name="Cadastrar" value="Cadastrar">Cadastrar</button>    
</form>

{include file="./Template/footer.html"}