{include file="./Template/HeaderAdmin.html"}
<div style="padding-bottom: 10px;">
    <a class="btn btn-primary" href="EventoCategoriaInsert.php" role="button">Novo</a>    
</div>
<div>
    <table id="myTable" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Valor Inscrição</th>
                <th>Data Inicial</th>
                <th>Data Final</th>
                <th>Evento</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody id="myTabContent">
            {foreach from=$lista item=row}
            <tr>
                <td>{$row.DSC_Nome}</td>
                <td>{$row.VLR_Inscricao}</td>
                <td>{$row.DT_Inicio_Valor}</td>
                <td>{$row.DT_Fim_Valor}</td>
                <td>{$row.DSC_Nome}</td>
                <td class="col-lg-1">
                    <a href="?alt={$row.ID_EVT_Evento}" class="col-md-offset-1" title="Editar"><span class="glyphicon glyphicon-pencil" aria-hidden="true" style="font-size: 30px;"></span></a> 
                    <a href="?del={$row.ID_EVT_Evento}" title="Excluir"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true" style="font-size: 30px;"></span></a>
                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>
</div>

{include file="./Template/footer.html"}