{include file="./Template/HeaderAdmin.html"}
<div style="padding-bottom: 10px;">
    <a class="btn btn-primary" href="GrupoInsert.php" role="button">Novo</a>    
</div>
<div>
    <table id="myTable" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody id="myTabContent">
        {foreach from=$lista item=row}
        <tr >
            <td>{$row.ID_Grupo}</td>
            <td>{$row.DSC_Nome}</td>
            <td>{$row.DSC_Descricao}</td>
            <td>
                <a href="?alt={$row.ID_Grupo}" class="col-md-offset-1" title="Editar"><span class="glyphicon glyphicon-pencil" aria-hidden="true" style="font-size: 30px;"></span></a>
                <a href="?del={$row.ID_Grupo}" title="Excluir"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true" style="font-size: 30px;"></span></a>
            </td>            
        </tr>
        {/foreach}
    </tbody>
</table>
</div>

{include file="./Template/footer.html"}