{include file="./Template/Header.html"}
<form id="Cadastrar" form method="post" action="">
    <div class="form-group">
        <label for="exampleInputEmail1">Nome</label>
        <input type="text" class="form-control" name="DSC_Nome" placeholder="Nome">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Descrição</label>
        <input type="text" class="form-control" name="DSC_Descricao" placeholder="Descricao">
    </div>
    <button type="submit" class="btn btn-default" name="Cadastrar" value="Cadastrar">Cadastrar</button>
    <a href="GrupoList.php" class="btn btn-default">Cancelar</a>
</form>
{include file="./Template/footer.html"}