{include file="./Template/HeaderAdmin.html"}
<div style="padding-bottom: 10px;">
    <a class="btn btn-primary" href="LocalEventoInsert.php" role="button">Novo</a>    
</div>
<div>
    <table id="myTable" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Endereco</th>
                <th>Fone</th>
                <th>Email</th>
                <th>Contato</th>
                <th>Estado</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody id="myTabContent">
            {foreach from=$lista item=row}
            <tr>
                <td>{$row.DSC_Nome}</td>
                <td>{$row.DSC_Endereco}</td>
                <td>{$row.NUM_Fone}</td>
                <td>{$row.DSC_Nome_Contato}</td>
                <td>{$row.DSC_EMAIL}</td>
                <td>{$row.DSC_Nome}</td>
                <td class="col-lg-1">
                    <a href="LocalEventoEdit.php?ID_Local={$row.ID_Local}" class="col-md-offset-1" title="Editar"><span class="glyphicon glyphicon-pencil" aria-hidden="true" style="font-size: 30px;"></span></a> 
                    <a href="?del={$row.ID_Local}" title="Excluir"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true" style="font-size: 30px;"></span></a>
                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>
</div>

{include file="./Template/footer.html"}