{include file="./Template/header.html"}

<form id="Cadastrar" form method="post">
    <div class="form-group">
        <label>CPF</label>
        <input type="text" class="form-control" name="COD_CPF" placeholder="CPF">
    </div>
    <div class="form-group">
        <label >RG</label>
        <input type="text" class="form-control"  name="COD_RG" placeholder="RG">
    </div>
    <div class="form-group">
        <label >Nome</label>
        <input type="text" class="form-control" name="DSC_Nome" placeholder="Nome">
    </div>
    <div class="form-group">
        <label>Endereço</label>
        <input type="text" class="form-control" name="DSC_Endereco" placeholder="Endereço ">
    </div>
    <div class="form-group">
        <label >Bairro</label>
        <input type="text" class="datepicker" name="DSC_Bairro" placeholder="Bairro">
    </div>

    <div class="form-group">
        <label >Cidade</label>
        <input type="text" class="form-control" name="DSC_Cidade" placeholder="Cidade">
    </div>
    <div class="form-group">
        <label >Presidente Promotora</label>
        <input type="text" class="form-control" name="DSC_Presidente_Promotora" placeholder="Presidente Promotora">
    </div>
    <div class="form-group">
        <label >CEP</label>
        <input type="text" class="form-control" name="NUM_CEP" placeholder="CEP">
    </div>
    <div class="form-group">
        <label >Telefone Residencial</label>
        <input type="text" class="form-control" name="NUM_Fone" placeholder="Telefone">
    </div>
    <div class="form-group">
        <label >Celular</label>
        <input type="text" class="form-control" name="NUM_Celular" placeholder="Celular">
    </div>
    <div class="form-group">
        <label >Fax</label>
        <input type="text" class="form-control" name="NUM_FAX" placeholder="Fax">
    </div>
    <div class="form-group">
        <label >Nª Fax</label>
        <input type="text" class="form-control" name="NUM_FAX_Promotora" placeholder="Nº Fax Promotora">
    </div>
    <div class="form-group">
        <label >Profissão</label>
        <input type="text" class="form-control" name="DSC_Profissao_Especialidade" placeholder="Profissão">
    </div>
    <div class="form-group">
        <label >Email</label>
        <input type="text" class="form-control" name="DSC_Email" placeholder="Email">
    </div>
    <div class="form-group">
        <label>Nº Registro</label>
        <input type="text" class="form-control" name="NUM_Registro" placeholder="Número Registro">
    </div>
    <div class="form-group">
        <label>Tipo Estado</label>
        <input type="text" class="form-control" name="COD_Tipo_Estado" placeholder="Tipo Estado">
    </div>
    <div class="form-group">
        <label>Empresa</label>
        <select name="ID_BSC_Empresa">
            {foreach from=$listEmp item=row}
            <option value="{$row.ID_Empresa}">{$row.DSC_RazaoSocial}</option>
            {/foreach}
        </select>
    </div>
    <div class="form-group">
        <label>Profissão</label>
        <input type="text" class="form-control" name="ID_BSC_Profissao" placeholder="Profissão">
    </div>
    <button type="submit" class="btn" name="Cadastrar" value="Cadastrar">Cadastrar</button>    
</form>

{include file="./Template/footer.html"}