<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>

        <div class="container">
            <form id="Cadastrar" form method="post" action="">
                <div class="form-group">
                    <label for="NomeInput">Nome</label>
                    <input type="text" class="form-control" name="DSC_Nome" placeholder="Nome">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Descrição</label>
                    <input type="text" class="form-control" name="DSC_Descricao" placeholder="Descricao">
                </div>
                <button type="button" name="teste" class="btn btn-info" data-toggle="collapse" data-target="#form1">Teste</button>
                <!--<button type="submit" class="btn btn-default" name="Cadastrar" value="Cadastrar">Cadastrar</button>-->
            </form>

            <div id="form1" class="collapse">

                <form id="Cadastrar" form method="post" action="">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nome</label>
                        <input type="text" class="form-control" name="DSC_Nome" placeholder="Nome">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Descrição</label>
                        <input type="text" class="form-control" name="DSC_Descricao" placeholder="Descricao">
                    </div>
                    <!--<button type="submit" class="btn btn-default" name="Cadastrar" value="Cadastrar">Cadastrar</button>-->
                    <button type="button" name="teste" class="btn btn-info" data-toggle="collapse" data-target="#form2">Teste</button>
                </form>
            </div>
            
            <div id="form2" class="collapse">

                <form id="Cadastrar" form method="post" action="">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nome</label>
                        <input type="text" class="form-control" name="DSC_Nome" placeholder="Nome">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Descrição</label>
                        <input type="text" class="form-control" name="DSC_Descricao" placeholder="Descricao">
                    </div>
                    <!--<button type="submit" class="btn btn-default" name="Cadastrar" value="Cadastrar">Cadastrar</button>-->
                    <button type="button" name="teste" class="btn btn-info" data-toggle="collapse" data-target="#form2">Teste</button>
                </form>
            </div>
            
        </div>
    </body>
</html>
