{include file="./Template/HeaderAdmin.html"}

<form id="Cadastrar" form method="post" action="">
    <button type="submit" class="btn btn-primary" name="Cadastrar" value="Cadastrar">Cadastrar</button>
    <a href="ParticipanteList.php" class="btn btn-default">Cancelar</a>
    <input type="hidden" class="form-control col-lg-12" name="ID_Participante" id="ID_Participante">
    <h3 class="page-header">Dados Pessoais</h3>
    <div class="form-group col-lg-12 row">
        <label >Nome</label>
        <input type="text" class="form-control col-lg-12" id="DSC_Nome" name="DSC_Nome" placeholder="Nome">
    </div>
    <div class="form-group col-lg-12 row">
        <label >Nome Cracha</label>
        <input type="text" class="form-control col-lg-12" name="Nome_Cracha" id="Nome_Cracha" placeholder="Nome do Cracha">
    </div>
    <div class="row">
        <div class="form-group col-lg-6">
            <label >Email</label>
            <input type="email" class="form-control" id="DSC_Email" name="DSC_Email" placeholder="Email">
        </div>
        <div class="form-group col-md-3">
            <label>CPF</label>
            <input type="text" class="form-control" id="COD_CPF" name="COD_CPF" placeholder="CPF">
        </div>
        <div class="form-group col-md-2">
            <label>Identidade Estrangeiro</label>
            <input type="text" class="form-control" name="Id_Estrangeiro" placeholder="" id="Id_Estrangeiro">
        </div>
        <div class="form-group col-md-2">
            <label >RG</label>
            <input type="text" class="form-control" id="COD_RG"  name="COD_RG" placeholder="RG">
        </div>

    </div>
    <h3 class="page-header">Endereço</h3>
    <div class="form-group col-lg-3 row">
        <label >CEP</label>
        <input type="text" id="NUM_CEP" class="form-control" name="NUM_CEP" placeholder="CEP">
    </div>
    <div class="form-group col-lg-3">
        <label >Cidade</label>
        <input type="text" class="form-control" id="DSC_Cidade" name="DSC_Cidade" placeholder="Cidade">
    </div>
    <div class="form-group col-lg-6">
        <label >Bairro</label>
        <input type="text" class="form-control" id="DSC_Bairro" name="DSC_Bairro" placeholder="Bairro">
    </div>
    <div class="form-group col-lg-12 row">
        <label>Endereço</label>
        <input type="text" class="form-control" id="DSC_Endereco" name="DSC_Endereco" placeholder="Endereço">
    </div>

    <h3 class="page-header">Contato</h3>
    <div class="row">
        <div class="form-group col-lg-3">
            <label >Telefone Residencial</label>
            <input type="text" class="form-control" name="NUM_Fone" id="NUM_Fone" placeholder="Telefone">
        </div>
        <div class="form-group col-lg-3">
            <label >Celular</label>
            <input type="text" class="form-control" name="NUM_Celular" id="NUM_Celular" placeholder="Celular">
        </div>

        <div class="form-group col-lg-3">
            <label >Fax</label>
            <input type="text" class="form-control" name="NUM_FAX" id="NUM_FAX" placeholder="Fax">
        </div>
    </div>

    <h3 class="page-header">Outros</h3>

    <div class="form-group">
        <label>Empresa</label>
        <select name="ID_BSC_Empresa" id="ID_BSC_Empresa" class="form-control col-lg-3">
            <option value="0">-</option>
            {foreach from=$listEmp item=row}
            <option value={$row.ID_Empresa}">{$row.DSC_RazaoSocial}</option>
            {/foreach}
        </select>
    </div>
    <div class="form-group">
        <label>Profissão</label>
        <select name="ID_BSC_Profissao" id="ID_BSC_Profissao" class="form-control col-lg-3">
            <option value="0">-</option>
            {foreach from=$listProf item=row}
            <option value="{$row.ID_Profissao}">{$row.DSC_Nome}</option>
            {/foreach}
        </select>
    </div>

    <div class="form-group">
        <label >Especialidade da Profissão</label>
        <input type="text" class="form-control" name="DSC_Profissao_Especialidade" placeholder="Descrição da Especialidade">
    </div>

    <div class="form-group">
        <label>Nº Registro</label>
        <input type="text" class="form-control" name="NUM_Registro" placeholder="Número Registro">
    </div>
    <div class="form-group">
        <label>Estado</label>
        <select name="COD_Tipo_Estado" id="COD_Tipo_Estado"  class="form-control" style="width: 400px;">
            <option value="0">-</option>
            {foreach from=$listEstado item=row}
            <option value="{$row.COD_TIPOEstado}">{$row.DSC_Nome}</option>
            {/foreach}
        </select>
    </div>
    <h3 class="page-header">Evento</h3>
    <div class="row">
        <div class="form-group col-lg-6">
            <label>Evento</label>
            <select name="ID_EVT" id="ID_EVT" class="form-control EVENTO" style="width: 540px;">  
                <option value="0">-</option>
                {foreach name="listEvento" from=$listEvento item=row}
                <option value="{$row.ID_EVT}">{$row.DSC_Nome}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-6">
            <label>Catergorias</label>
            <select name="ID_EVT" id="ID_EVT" class="form-control EVENTO" style="width: 540px;">  
                <option value="0">-</option>
                {foreach name="lstCatEVT" from=$lstCatEVT item=row}
                <option value="{$row.ID_EVT}">{$row.DSC_Nome} - R$ {$row.VLR_Inscricao}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" name="Cadastrar" value="Cadastrar">Cadastrar</button>
    <!--<a href='#mywork' onclick="ListaEventoCategoriaPopUp('{$row.ID_EVT}', '{$row.DSC_Nome}');">Participar</a>-->
    <a href="ParticipanteList.php" class="btn btn-default">Cancelar</a>
</form>

<!-- /.modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" id="corpoPopUp">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Categoria</th>
                            <th>Valor da Inscrição</th>
                            <th>Data Inicio</th>
                            <th>Data Fim</th>
                        </tr>
                    </thead>
                    <tbody id="conteudoTabelaCategoria">

                    </tbody>
                </table>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    <script src="./js/portal.js" type="text/javascript">
        $(document).ready(function () {
            $("select.EVENTO").change(function () {
                var selectedEVENTO = $(".EVENTO option:selected").val();
                alert("You have selected the EVENTO - " + selectedEVENTO);
            });
        });
    </script>

{include file="./Template/footer.html"}