{include file="./Template/HeaderAdmin.html"}

<form id="Cadastrar" form method="post">
    <div class="form-group">
        <label >Profissão</label>
        <input type="text" class="form-control"  name="DSC_Nome" placeholder="Nome da Profissão">
    </div>
    <div class="form-group">
        <label >Descrição</label>
        <input type="text" class="form-control" name="DSC_Descricao" placeholder="Descrição da Profissão">
    </div>
    <button type="submit" class="btn" name="Cadastrar" value="Cadastrar">Cadastrar</button>
    <a href="ProfissaoList.php" class="btn btn-default">Cancelar</a>
</form>

{include file="./Template/footer.html"}