{include file="./Template/HeaderAdmin.html"}

<form id="Cadastrar" form method="post">
    <div class="form-group">
        <label for="Nome">Nome</label>
        <input type="text" class="form-control" name="DSC_Nome" placeholder="Nome">
    </div>

    <div class="form-group">
        <label for="Nome">Descrição</label>
        <input type="text" class="form-control" name="DSC_Descricao" placeholder="Descrição da Forma de Pagamento">
    </div>
    <div class="form-group">
        <label for="Nome">Nro de Parcelas</label>
        <input type="text" class="form-control" name="Nro_Parcelas" placeholder="Nro_Parcelas">
    </div>

    <button type="submit" class="btn" name="Cadastrar" value="Cadastrar">Cadastrar</button>
    <a href="TbFormaPagtoList.php" class="btn btn-default">Cancelar</a>
</form>
{include file="./Template/footer.html"}
