{include file="./Template/HeaderAdmin.html"}

<form id="Cadastrar" form method="post">
    <input type="hidden" class="form-control" name="COD_Tipo_Participacao" id="COD_Tipo_Participacao" placeholder="COD_Tipo_Participacao" value="{$COD_Tipo_Participacao}">
    <div class="form-group">
        <label for="Nome">Nome</label>
        <input type="text" class="form-control" name="DSC_Nome" id="DSC_Nome" value="{$DSC_Nome}" placeholder="Nome">
    </div>

    <div class="form-group">
        <label for="Nome">Descricao</label>
        <input type="text" class="form-control" name="DSC_Descricao" id="DSC_Descricao" value="{$DSC_Descricao}" placeholder="Descrição">
    </div>
    <button type="submit" class="btn btn-primary" name="Salvar" value="Salvar">Salvar</button>    
    <a href="TipoParticipacaoList.php" class="btn btn-default">Cancelar</a>
</form>
{include file="./Template/footer.html"}
