{include file="./Template/header.html"}

<form id="Cadastrar" method="post" action="">
    <div class="form-group">
        <label for="exampleInputEmail1">Login</label>
        <input type="text" class="form-control" name="login" placeholder="Login">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Senha</label>
        <input type="password" class="form-control" name="senha" placeholder="Senha">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Data Inicial</label>
        <input type="date" class="form-control" name="dataini" placeholder="Data Inicial">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Data Final</label>
        <input type="date" class="form-control" name="datafin" placeholder="Data Final">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Grupo</label>
        
        <select name="listGrupo">
            {foreach from=$listGrupo item=row}
            <option value="">{$row.DSC_Descricao}</option>
            {/foreach}
        </select>
        
    </div>
    <button type="submit" class="btn" name="Cadastrar" value="Cadastrar">Submit</button>
</form>
{include file="./Template/footer.html"}
