{include file="./Template/header.html"}

<div>
    <table id="myTable" border="1" cellpadding="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Descrição</th>
            <th>Data Inicio</th>
            <th>Data Fim</th>
            <th>Descrição Grupo</th>
            <th>Ações</th>
        </tr>
    </thead>
    <a href="CadastroUsuario.php"><button class="btn">Novo</button></a>
    <tbody id="myTabContent">
        {foreach from=$lista item=row}
        <tr >
            <td>{$row.ID_Usuario}</td>
            <td>{$row.DSC_Login}</td>
            <td>{$row.DTM_Inicio}</td>
            <td>{$row.DTM_Fim}</td>
            <td>{$row.DSC_Descricao}</td>
            <td>
                <a href="?alt={$row.ID_Usuario}"><button class="btn">Alterar</button></a> 
                <a href="?del={$row.ID_Usuario}"><button class="btn">Excluir</button></a>
            </td>
        </tr>
        {/foreach}
    </tbody>
</table>
</div>

{include file="./Template/footer.html"}