{include file="./Template/header.html"}

<table border="1" cellpadding="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Descrição</th>
            <th>Data Inicio</th>
            <th>Data Fim</th>
            <th>Descricao_Grupo</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {foreach from=$lista item=row}
        <tr>
            <td>{$row.ID_Usuario}</td>
            <td>{$row.DSC_Login}</td>
            <td>{$row.DTM_Inicio}</td>
            <td>{$row.DTM_Fim}</td>
            <td>{$row.DSC_Descricao}</td>
            <td>Incluir | Alterar | Excluir</td>
        </tr>
        {/foreach}
    </tbody>
</table>

{include file="./Template/footer.html"}