{include file="./Template/HeaderAdmin.html"}

<div style="padding-bottom: 10px;">
    <a class="btn btn-primary" href="UsuarioInsert.php" role="button">Novo</a>    
</div>
<div>
    <table id="myTable" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Descrição</th>
                <th>Data Inicio</th>
                <th>Data Fim</th>
                <th>Descrição Grupo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody id="myTabContent">
            {foreach from=$lista item=row}
            <tr >
                <td>{$row.ID_Usuario}</td>
                <td>{$row.DSC_Login}</td>
                <td>{$row.DTM_Inicio}</td>
                <td>{$row.DTM_Fim}</td>
                <td>{$row.DSC_Descricao}</td>
                <td>
                    <a href="UsuarioEdit.php?alt={$row.ID_Usuario}" class="col-md-offset-1" title="Editar"><span class="glyphicon glyphicon-pencil" aria-hidden="true" style="font-size: 30px;"></span></a>
                    <a href="?del={$row.ID_Usuario}" title="Excluir"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true" style="font-size: 30px;"></span></a>
                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>
</div>

{include file="./Template/footer.html"}